<title>Micro blog Sample App | About</title>
<h1>About Us</h1>
<p>
  <a href="#">Micro blog</a>
  is project to make a book and screencasts to teach web development
  with <a href="#">Ruby on Rails</a>. This is the sample application for the tutorial.

</p>
